/* Left sidebar */
.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 4rem 0;
  padding: 1rem 1.5rem;
  color: var(--cl-white);
  background-color: var(--cl-electric-blue);
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  left: -0.5rem;
  cursor: default;
}

.sidebar__header-logo {
  width: 4rem;
}

.sidebar__header-text {
  font-size: 1.5rem;
  text-transform: lowercase;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 3rem 0;
}

.nav__section {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.nav__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav__item-icon {
  width: 2rem;
}

.nav__item-link {
  font-size: 1.1rem;
  font-weight: 600;
}

.nav__item-link:hover,
.nav__item-link:focus {
  transition: all 300ms ease-in-out;
  box-shadow: 0px 2px var(--cl-white);
}

.header {
  grid-area: header;
  background-color: var(--cl-charcoal-black);
}

.article {
  grid-area: article;
  background-color: var(--cl-light-gray);
}
